@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  darkMode: "data-theme";
  root: ":root";
  include: ;
  exclude: ;
  prefix: ""; /* Attenzione a non lasciare vuoto questo campo senza "" */
  logs: true;
}
