@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  darkmode: 'data-theme';
  root: ':root';
  include:;
  exclude:;
  prefix: ''; /* Attenzione a non lasciare vuoto questo campo senza "" */
  logs: true;
}

:root {
  --primary-50: #fafefe; /* per highlight leggerissimi */
  --primary-100: #e3f7f9;
  --primary-200: #b4e9f0; /* per sfondi chiari */
  --primary-300: #85dbe7;
  --primary-400: #57cddd;
  --primary-500: #2abdd2; /* come colore principale */
  --primary-600: #2197a7;
  --primary-700: #19707d;
  --primary-800: #104a52; /* hover */
  --primary-900: #082428;
  --primary-950: #041113; /* per testi scuri (dark mode) */

  --n-50: oklch(98.4% 0.003 247.858);
  --n-100: oklch(96.8% 0.007 247.896);
  --n-200: oklch(92.9% 0.013 255.508);
  --n-300: oklch(86.9% 0.022 252.894);
  --n-400: oklch(70.4% 0.04 256.788);
  --n-500: oklch(55.4% 0.046 257.417);
  --n-600: oklch(44.6% 0.043 257.281);
  --n-700: oklch(37.2% 0.044 257.287);
  --n-800: oklch(27.9% 0.041 260.031);
  --n-900: oklch(20.8% 0.042 265.755);
  --n-950: oklch(12.9% 0.042 264.695);
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: var(--n-50);
  --color-base-200: var(--n-100);
  --color-base-300: var(--n-200);
  --color-base-content: var(--n-900);

  --color-primary: var(--primary-700);
  --color-primary-content: var(--primary-50);

  --color-secondary: var(--primary-600);
  --color-secondary-content: var(--primary-50);

  --color-accent: var(--primary-300);
  --color-accent-content: var(--primary-900);

  --color-neutral: var(--n-500);
  --color-neutral-content: var(--n-50);

  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: var(--n-950);
  --color-base-200: var(--n-800);
  --color-base-300: var(--n-700);
  --color-base-content: var(--n-50);

  --color-primary: var(--primary-400);
  --color-primary-content: var(--primary-50);

  --color-secondary: var(--primary-600);
  --color-secondary-content: var(--primary-50);

  --color-accent: var(--primary-300);
  --color-accent-content: var(--primary-900);

  --color-neutral: var(--n-600);
  --color-neutral-content: var(--n-50);

  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* Animazione carousel infinito */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  will-change: transform;
}
